@model Doctor

<div class="col-sm text-center">
    <img  src="@Model.ImageUrl" alt="" />
    <div class="caption">
        <h3>@Model.Surname @Model.Name @Model.MiddleName</h3>
        <h3 class="pull-right">@Model.Age лет</h3>
        <p>@Model.Position</p>
    </div>
</div>