

<div>
    <h2>Все доктора.</h2>
</div>
<div class="container">
    <div class="row">
        @foreach (var doctor in Model.Doctors)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                    <img src="@doctor.ImageUrl" alt="" />
                    <div class="caption">
                        <h3 class="pull-right">@doctor.Age</h3>
                        <h3>@doctor.Surname @doctor.Name @doctor.MiddleName</h3>
                        <p>@doctor.Position</p>
                    </div>
            </div>
        
    }
    </div>
</div>

